<!-- Generated template for the CrewComponent component -->
<div>

    <table>
        <tr>
            <td>
                <h6>Director-</h6>
                <p class="nameColor">{{Crew.director}}</p>
            </td>
            <td>
                <h6>Producer-</h6>
                <p class="nameColor"> {{Crew.producer}}</p>
            </td>
            <td>
                <h6>Music Director-</h6>
                <P class="nameColor">{{Crew.mdirector}}</P>
            </td>
            <td>
                <h6>Director-</h6>
                <p class="nameColor">{{Crew.director}}</p>
            </td>
            <td>
                <h6>Producer-</h6>
                <p class="nameColor">{{Crew.producer}}</p>
            </td>
            <td>
                <h6>Music Director-</h6>
                <P class="nameColor">{{Crew.mdirector}}</P>
            </td>
        </tr>
    </table>

</div>