crew {
    div{
        overflow: scroll;
    }
    tr{
        font-size: 1.2rem;
        width: 100%;
        display:inline-flex;
    }
    td{
        margin: 2.66%;
    }
    table{
        table-layout: fixed;
        width: 100%; 
        height: 18%;
    }
    .nameColor{
        color:black
    }
}
