<!-- Generated template for the CastComponent component -->



<div>

  <table>
    <tr>
      <td>
        <h5>hero-</h5>
        <p class="nameColor">{{cast.hero}}</p>
      </td>
      <td>
        <h5>heroine-</h5>
        <p class="nameColor">{{cast.heroine}}</p>
      </td>
      <td>
        <h5>supporing-</h5>
        <p class="nameColor">{{cast.supporting}}</p>
      </td>
      <td>
        <h5>villan-</h5>
        <p class="nameColor">{{cast.villan}}</p>
      </td>

      <td>
        <h5>hero-</h5>
        <p class="nameColor">{{cast.hero}}</p>
      </td>
      <td>
        <h5>heroine-</h5>
        <p class="nameColor">{{cast.heroine}}</p>
      </td>
      <td>
        <h5>supporing-</h5>
        <p class="nameColor">{{cast.supporting}}</p>
      </td>
      <td>
        <h5>villan-</h5>
        <p class="nameColor">{{cast.villan}}</p>
      </td>
    </tr>
  </table>

</div>