page-list-of-movies {
    .col {
        padding-top: 12px;
        padding-bottom: 15px;
    }
    ion-icon {
        padding-left: 28px;
        padding-top: 5px;
        min-height: 28px !important;
        display: inline-block;
        font-size: 22px;
        /* min-width: 49% !important; */
    }
}