telugu {
    .segmentPading{
        position: relative;
        bottom:26px;
       
    }
    ion-app.md [padding] .scroll-content {
        /* padding: 16px; */
        padding-left: 10px;
        padding-top: 14px;
        padding: 0px;
        /* padding-right: 23px; */
    }
}
